.something {
    background: url("static/core/core.png") no-repeat top left;
}

.absolute {
    background: url("/build/static/style.png") no-repeat top left;
}

.static {
    background: url("http://test.com/build/static/style.png") no-repeat top left;
}

@font-face{
    font-family: pictos;
    src:url('static/font.ttf');
}