.something {
    background: url("../static/core/core.png") no-repeat top left;
}

.absolute {
    background: url("/static/style.png") no-repeat top left;
}

.static {
    background: url("http://test.com/static/style.png") no-repeat top left;
}
z
@font-face{
    font-family: pictos;
    src:url('../static/font.ttf');
}